@using ProcessM.NET.Model
@using ProcessM.NET.Export
@using ProcessM.NET.Model.BasicPetriNet
@using System.Threading
@using ProcessM.NET.Model.GraphvizNet
@inject IJSRuntime JS
<style>
    .node {
        fill: #ccc;
        stroke: #000;
    }
    
    .node text {
        fill: black;
        stroke: none;
    }
   
    .link {
        stroke: #777;
        stroke-width: 2px;
    }
       
    .svg-container {
        width: 100%;
    }
    
    svg {
        height: 100%;
        width: 100%;
    }
    
    .context-menu {
        --context-menu-background-color: white;
        --context-menu-shadow: 0 4px 5px 0 rgba(0,0,0,0.14);
        --anypoint-item-before-background: none;
        --anypoint-item-focused-background-color: inherit;
    }
</style>
@if (_graphvizNet == null)
{
    <MudText>Let's mine</MudText>
}
<div @ref="_graph" style="height: 100%"></div>


@code {
    private ElementReference _graph;
    private DotNetObjectReference<Graph> _objeRef;

    private GraphvizNet _graphvizNet;
    private bool _simplify = true;

    bool _graphInitiated = false;
    

    public async Task RenderGraph(GraphvizNet updatedNet, Dictionary<string, string> changedColors = null)
    {
        _graphvizNet = updatedNet;
        if (!_graphInitiated)
        {
            _objeRef = DotNetObjectReference.Create(this);
            await JS.InvokeVoidAsync("InitGraph", _graph, _objeRef);
            _graphInitiated = true;
        }
        if (changedColors is not null)
        {
            foreach (var (id, color) in changedColors)
            {
                _graphvizNet.ChangeTransitionColor(id, color);
            }
        }
        var dotString = DOTExport.Serialize(_graphvizNet, _simplify);
        await JS.InvokeVoidAsync("RenderGraph", dotString);
        StateHasChanged();
    }

    public async Task Simplify(bool simplify)
    {
        _simplify = simplify;
        if (_graphInitiated)
        {
            var dotString = DOTExport.Serialize(_graphvizNet, _simplify);
            await JS.InvokeVoidAsync("RenderGraph", dotString);
        }
    }
    
    [Parameter]
    public EventCallback<(string, string)> OnTransitionColorChanged { get; set; }
    
    [JSInvokable]
    public async Task ChangeTransitionColor(string id, string newColor)
    {
        _graphvizNet.ChangeTransitionColor(id, newColor);
        var dotString = DOTExport.Serialize(_graphvizNet, _simplify);
        await JS.InvokeVoidAsync("RenderGraph", dotString);
        await OnTransitionColorChanged.InvokeAsync((id, newColor));
    }
    
    [Parameter]
    public EventCallback<(string, bool)> OnTransitionVisibilityChanged { get; set; }
    
    [JSInvokable]
    public async Task HideTransition(string activity)
    {
        await OnTransitionVisibilityChanged.InvokeAsync((activity, true));
    }

    
    [Parameter]
    public EventCallback OnRenderingFinished { get; set; }
    
    [JSInvokable]
    public async Task JsRenderingFinished()
    {
        await OnRenderingFinished.InvokeAsync();
    }
}
