.node {
    fill: #ccc;
    stroke: #000;
}

.node text {
    fill: black;
    stroke: none;
}

.link {
    stroke: #777;
    stroke-width: 2px;
}

.svg-container {
    width: 100%;
}

svg {
    height: 100%;
    width: 100%;
}