@page "/DisplayGraph/{Filename}"
@using ProcessM.NET.Model.BasicPetriNet
@inject Services.Storage.PetriNetStore PetriNetStore
<h3>DisplayGraph</h3>
@if (_petriNet == null)
{
    <p>loading</p>
}
else
{
    <MudPaper Elevation="0" Style="background-color: white">
        <Graph PetriNet="_petriNet" />
    </MudPaper>
}


@code {
    [Parameter]
    public string Filename { get; set; }

    private PetriNet _petriNet { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var netFile = await PetriNetStore.Get(Filename);
        _petriNet = netFile.PetriNet;
    }

}